.upload__container {
  width: 100%;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  /* background-image: url("https://i.postimg.cc/MT8rW1vx/alex-hu-HPk-kxq-Lz-XQ-unsplash-removebg-preview.png"); */
  background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.upload-form__Wrapper {
  width: 57%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__form-content {
  width: 73%;
}

.button__Style {
  width: 94%;
  border: none;
  background-color: orangered;
}

.input__style__wrapper {
  width: 94%;
  height: 40px;
}
.input__text-area__style {
  width: 94%;
}

/* animation box */

.signup-wraper {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box div {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: 6px solid orangered;
}

.signup-box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.signup-box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.signup-box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.signup-box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.signup-box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.signup-box div:nth-child(6) {
  top: 80%;
  left: 30%;
  animation: animate 12s linear infinite;
}

.signup-box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.signup-box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.signup-box div:nth-child(9) {
  top: 80%;
  left: 70%;
  animation: animate 9s linear infinite;
}

.signup-box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .upload-form__Wrapper {
    width: 100%;
  }
  .input__style__wrapper {
    width: 100%;
  }

  .button__Style {
    width: 100%;
  }
  .input__text-area__style {
    width: 100%;
  }
  .upload__form-content {
    width: 95%;
  }
  .signup-wraper {
    display: none;
  }
}
